ul#cssmw1 {
  cursor: default;
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
ul#cssmw1 ul {
  cursor: default;
  font-size: 0;
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
ul#cssmw1 ul li {
  background-image: none;
  float: none;
}
ul#cssmw1 li {
  zoom:1;
  background-image: none;
  float: left;
  padding: 0 0 0 0;
  position: relative;
  white-space: nowrap;
}
ul#cssmw1 li ul {
  display: none;
  top: 0;
}
ul#cssmw1 li.hover ul {
  display: block;
  position: absolute;
}
ul#cssmw1 li {
  background-image: none;
}
ul#cssmw1 li span {
  background-image: none;
  display: block;
}
ul#cssmw1 li span a {
  background-color: #F4f2fc;
  background-image: none;
  border-bottom: solid 1px #fff;
  border-right: solid 1px #fff;
  color: #2D2B2E;
  display: block;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  text-transform: uppercase;
  width: 100px;
}
ul#cssmw1 li span a.active {
  background-color: #A5D867;
  color: #2D2B2E;
  font-weight: bold;
  text-decoration: none;
}
ul#cssmw1 li * a {
  height: auto;
  width: auto;
}
ul#cssmw1 li span * a {
  height: auto;
  width: auto;
}
ul#cssmw1 li.hover span {
  display: block;
}
ul#cssmw1 li.hover span a {
  background-color: #A5D867;
  color: #2D2B2E;
  font-weight: bold;
  text-decoration: none;
}
ul#cssmw1 ul.level-1 {
  left: 0px;
  top: 100%;
}
ul#cssmw1 ul.level-1 li {
  background-image: none;
}
ul#cssmw1 ul.level-1 li a {
  background-color: #A5D867;
  background-image: none;
  border-bottom: solid 1px #fff;
  border-right: solid 1px #fff;
  color: #2D2B2E;
  display: block;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  text-transform: uppercase;
  width: 100px;
}
ul#cssmw1 ul.level-1 li a.active {
  background-color: #69BE28;
  color: #2D2B2E;
  font-weight: bold;
  text-decoration: none;
}
ul#cssmw1 ul.level-1 li * a {
  height: auto;
  width: auto;
}
ul#cssmw1 ul.level-1 li span * a {
  height: auto;
  width: auto;
}
ul#cssmw1 ul.level-1 li.hover a {
  background-color: #69BE28;
  color: #2D2B2E;
  font-weight: bold;
  text-decoration: none;
}
ul#cssmw1 ul.level-2 {
  left: 111px;
}
ul#cssmw1 ul.level-2 li {
  background-image: none;
}
ul#cssmw1 ul.level-2 li a {
  background-color: #A5D867;
  background-image: none;
  border-bottom: solid 1px #fff;
  border-right: solid 1px #fff;
  color: #2D2B2E;
  display: block;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  text-transform: uppercase;
  width: 100px;
}
ul#cssmw1 ul.level-2 li a.active {
  background-color: #69BE28;
  color: #2D2B2E;
  font-weight: bold;
  text-decoration: none;
}
ul#cssmw1 ul.level-2 li.hover a {
  background-color: #69BE28;
  color: #2D2B2E;
  font-weight: bold;
  text-decoration: none;
}
